/* *****************/
/* Powyzej 544 px */
/* *****************/

@media (min-width: 34em) {
  .grid--3-cols {
    grid-template-columns: 1fr 1fr;
  }
  .hero-img {
    width: 60%;
  }
  .cta {
    grid-template-columns: 3fr 2fr;
  }
  .logos img {
    height: 2.4rem;
  }
  .hero {
    padding: 0 8rem;
    gap: 6.4rem;
  }
  .grid {
    row-gap: 6.4rem;
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 1.6rem 3.2rem;
  }
  .section-hero {
    padding: 14.4rem 0 9.6rem 0;
  }
  .btn--form {
    padding: 1.2rem;
  }
  .cta-img-box {
    background-position: center;
    height: 100%;
    grid-row: auto;
  }
  .cta-text-box {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  }
  .grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .step-img-box:nth-child(2) {
    order: 0;
  }
  .step-img-box:nth-child(6) {
    grid-row: auto;
  }
  .step-img-box {
    transform: translateY(0rem);
  }
}

/* *****************/
/* Powyzej 720 px */
/* *****************/

@media (min-width: 45em) {
  .grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid--footer {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  }
  .nav-col {
    grid-row: auto;
    grid-column: span 1;
    margin-bottom: 0;
  }
  .address-col,
  .logo-col {
    grid-column: span 1;
  }
  .diets {
    grid-column: auto;
    justify-self: start;
  }
  .pricing-plan {
    width: 75%;
  }
  .heading-secondary {
    margin-bottom: 9.6rem;
  }
}

/* *****************/
/* Powyzej 944 px */
/* *****************/

@media (min-width: 59em) {
  .grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }
  html {
    /* 9px/16px = */
    font-size: 56.25%;
  }

  .main-nav-list {
    gap: 3.2rem;
  }
  .hero {
    gap: 4.8rem;
  }
  .logos img {
    height: 3.2rem;
  }
  .cta {
    grid-template-columns: 2fr 1fr;
  }
  .hero {
    gap: 4.8rem;
    grid-template-columns: 1fr 1fr;
    padding: 0 3.2rem;
    margin: 0 auto;
  }
  .hero-text-box,
  .hero-img-box {
    text-align: left;
  }
  .hero-img {
    width: 100%;
  }
  .delivered-meals {
    margin-top: 8rem;
  }
  .step-number {
    font-size: 8.6rem;
  }
  .meal-content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
  }
  .cta-img-box {
    background-position: center;
    height: 100%;
    grid-row: auto;
  }
  .cta-text-box {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  }
  .cta-form {
    grid-template-columns: 1fr 1fr;
  }
  .btn--form {
    margin-top: 0;
  }
  .main-nav-list {
    gap: 3.2rem;
  }
  .btn-mobile-nav {
    display: none;
    z-index: 1000;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.8rem;
  }
  .main-nav-list {
    flex-direction: row;
    gap: 4.8rem;
  }
  .main-nav {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    position: static;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    transform: translateX(0);
    display: block;
    align-items: auto;
    justify-content: auto;
    transition: none;
    opacity: 0;
    pointer-events: none;
    visibility: visible;
  }
  .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
}

/* *****************/
/* Powyzej 1200 px */
/* *****************/

@media (min-width: 75em) {
  html {
    font-size: 62.5%;
  }
  .grid {
    column-gap: 6.4rem;
    row-gap: 9.6rem;
  }

  .hero {
    gap: 9.6rem;
    grid-template-columns: 1fr 1fr;
  }

  .heading-secondary {
    font-size: 4.4rem;
  }

  .heading-tertiary {
    font-size: 3rem;
  }
  .header {
    padding: 0 4.8rem;
  }
  .footer-nav {
    gap: 2.4rem;
  }
  .main-nav-list {
    gap: 4.8rem;
  }
}
