/* *****************/
/* Powyzej 544 px */
/* *****************/

@media (min-width: 34em) {
}

/* *****************/
/* Powyzej 720 px */
/* *****************/

@media (min-width: 45em) {
}

/* *****************/
/* Powyzej 944 px */
/* *****************/

@media (min-width: 59em) {
}

/* *****************/
/* Powyzej 1200 px */
/* *****************/

@media (min-width: 75em) {
  html {
    font-size: 62.5%;
  }
  .grid {
    column-gap: 6.4rem;
    row-gap: 9.6rem;
  }
  .grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 1.6rem 3.2rem;
  }
  .section-hero {
    padding: 14.4rem 0 9.6rem 0;
  }
  .hero {
    padding: 0 3.2rem;
    gap: 9.6rem;
    grid-template-columns: 1fr 1fr;
  }
  .hero-img {
    width: 100%;
  }
  .logos img {
    height: 3.2rem;
  }
  .step-img-box:nth-child(2) {
    order: 0;
  }
  .step-img-box:nth-child(6) {
    grid-row: auto;
  }
  .step-img-box {
    transform: translateY(0rem);
  }
  .cta {
    grid-template-columns: 2fr 1fr;
  }
  .cta-img-box {
    background-position: center;
    height: 100%;
    grid-row: auto;
  }
  .cta-text-box {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  }
  .nav-col {
    grid-row: auto;
    grid-column: span 1;
    margin-bottom: 0;
  }
  .address-col,
  .logo-col {
    grid-column: span 1;
  }
  .grid--footer {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  }
  .diets {
    grid-column: auto;
    justify-self: start;
  }
  .heading-secondary {
    margin-bottom: 0;
    font-size: 4.4rem;
  }
  .pricing-plan {
    width: 75%;
  }
  .btn-mobile-nav {
    z-index: 1000;
    display: none;
  }
  .cta-form {
    grid-template-columns: 1fr 1fr;
  }
  .btn--form {
    margin-top: 0;
  }
  .step-number {
    font-size: 8.6rem;
  }
  .meal-content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
  }
  .delivered-meals {
    margin-top: 8rem;
  }
  .hero-text-box,
  .hero-img-box {
    text-align: left;
  }
  .heading-tertiary {
    font-size: 3rem;
  }
  .header {
    padding: 0 4.8rem;
  }
  .footer-nav {
    gap: 2.4rem;
  }
}
